<div class="p-3 card wrapper">
    <h3 class="page-title me-auto">Add Student</h3>
    <!-- <h3 class="page-title me-auto">Edit Student</h3> -->

    <form [formGroup]="addStudentForm" class="row col-10 g-4">
        <h6>Student Information</h6>
        <div class="row g-3 mb-3">
            <div class="col-md-6">
                <label for="studentName" class="form-label">
                  Student Name<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="studentName" placement="bottom" formControlName="studentName"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.studentName.errors }"/>

                <div *ngIf="submitted && formAddstudent.studentName.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.studentName.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="studentClass" class="form-label">
                  Student Class<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="studentClass" placement="bottom" formControlName="studentClass"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.studentClass.errors }"/>

                <div *ngIf="submitted && formAddstudent.studentClass.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.studentClass.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="studentSection" class="form-label">
                  Student Section<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="studentSection" placement="bottom" formControlName="studentSection"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.studentSection.errors }"/>

                <div *ngIf="submitted && formAddstudent.studentSection.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.studentSection.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="studentRollNumber" class="form-label">
                  Student Roll Number<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="studentRollNumber" placement="bottom" formControlName="studentRollNumber"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.studentRollNumber.errors }"/>

                <div *ngIf="submitted && formAddstudent.studentRollNumber.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.studentRollNumber.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="studentGovtId" class="form-label">
                  Student Govt. ID<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="studentGovtId" placement="bottom" formControlName="studentGovtId"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.studentGovtId.errors }"/>

                <div *ngIf="submitted && formAddstudent.studentGovtId.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.studentGovtId.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="studentAadhaar" class="form-label">
                  Student Aadhaar<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="studentAadhaar" placement="bottom" formControlName="studentAadhaar"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.studentAadhaar.errors }"/>

                <div *ngIf="submitted && formAddstudent.studentAadhaar.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.studentAadhaar.errors.required">Field is required</div>
                    <div *ngIf="formAddstudent.studentAadhaar.errors.aadhaarNumberValidator">
                        {{formAddstudent.studentAadhaar.errors.aadhaarNumberValidator}}</div>
                </div>
            </div>
            <h6>Parents Information</h6>
            <div class="col-md-6">
                <label for="fatherName" class="form-label">
                  Father Name<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="fatherName" placement="bottom" formControlName="fatherName"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.fatherName.errors }"/>

                <div *ngIf="submitted && formAddstudent.fatherName.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.fatherName.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="motherName" class="form-label">
                  Mother Name<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="motherName" placement="bottom" formControlName="motherName"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.motherName.errors }"/>

                <div *ngIf="submitted && formAddstudent.motherName.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.motherName.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="fatherContactNumber" class="form-label">
                  Father Phone Number<span class="text-danger">*</span>
                </label>
                <input type="number" class="form-control" id="fatherContactNumber" placement="bottom" formControlName="fatherContactNumber"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.fatherContactNumber.errors }"/>

                <div *ngIf="submitted && formAddstudent.fatherContactNumber.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.fatherContactNumber.errors.required">Field is required</div>
                    <div *ngIf="formAddstudent.fatherContactNumber.errors.phoneNumberValidator">
                        {{formAddstudent.fatherContactNumber.errors.phoneNumberValidator}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="motherContactNumber" class="form-label">
                  Mother Phone Number<span class="text-danger">*</span>
                </label>
                <input type="int" class="form-control" id="motherContactNumber" placement="bottom" formControlName="motherContactNumber"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.motherContactNumber.errors }"/>

                <div *ngIf="submitted && formAddstudent.motherContactNumber.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.motherContactNumber.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="rationCardNumber" class="form-label">
                  Ration Card Number<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="rationCardNumber" placement="bottom" formControlName="rationCardNumber"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.rationCardNumber.errors }"/>

                <div *ngIf="submitted && formAddstudent.rationCardNumber.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.rationCardNumber.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="fatherAadhaar" class="form-label">
                  Father Aadhaar<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="fatherAadhaar" placement="bottom" formControlName="fatherAadhaar"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.fatherAadhaar.errors }"/>

                <div *ngIf="submitted && formAddstudent.fatherAadhaar.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.fatherAadhaar.errors.required">Field is required</div>
                    <div *ngIf="formAddstudent.fatherAadhaar.errors.aadhaarNumberValidator">
                        {{formAddstudent.fatherAadhaar.errors.aadhaarNumberValidator}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="motherAadhaar" class="form-label">
                  Mother Aadhaar<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="motherAadhaar" placement="bottom" formControlName="motherAadhaar"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.motherAadhaar.errors }"/>

                <div *ngIf="submitted && formAddstudent.motherAadhaar.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.motherAadhaar.errors.required">Field is required</div>
                    <div *ngIf="formAddstudent.motherAadhaar.errors.aadhaarNumberValidator">
                        {{formAddstudent.motherAadhaar.errors.aadhaarNumberValidator}}</div>
                    
                </div>
            </div>
            <h6>Bank Details</h6>
            <div class="col-md-6">
                <label for="accountNumber" class="form-label">
                Account Number<span class="text-danger">*</span>
                </label>
                <input type="number" class="form-control" id="accountNumber" placement="bottom" formControlName="accountNumber"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.accountNumber.errors }"/>

                <div *ngIf="submitted && formAddstudent.accountNumber.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.accountNumber.errors.required">Field is required</div>
                    <div *ngIf="formAddstudent.accountNumber.errors.accountNumberValidator">
                        {{formAddstudent.accountNumber.errors.accountNumberValidator}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="ifscCode" class="form-label">
                IFSC Code<span class="text-danger">*</span>
                </label>
                <input type="text" class="form-control" id="ifscCode" placement="bottom" formControlName="ifscCode"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.ifscCode.errors }"/>

                <div *ngIf="submitted && formAddstudent.ifscCode.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.ifscCode.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="branchName" class="form-label">
                Branch Name<span class="text-danger">*</span>
                </label>
                <input type="int" class="form-control" id="branchName" placement="bottom" formControlName="branchName"
                    [ngClass]="{ 'is-invalid': submitted && formAddstudent.branchName.errors }"/>

                <div *ngIf="submitted && formAddstudent.branchName.errors" class="error-feedback">
                    <div *ngIf="formAddstudent.branchName.errors.required">Field is required</div>
                </div>
            </div>
            <div class="col-md-12 text-end">
                <button class="btn btn-secondary" type="button" (click)="cancel()">
                    Cancel
                </button>

                <button class="btn btn-primary ms-2" type="submit" (click)="save()" [disabled]="!addStudentForm.dirty">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>